<div class="d-flex h-50 text-center text-white header" id="portada">

    <div class="bg-image ounce-in-top fade-in" [ngStyle]="{'background-image':'url('+urlImagen+')'}"></div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column  header-bg">
        <div class="mb-auto"></div>
        <div class="inner">
            <div class="headline slide-in-top">
                <h1 class="heading">
                    {{titulo}}
                    <small>{{subtitulo}}</small>
                </h1>
            </div>
        </div>



        <div class="mt-auto text-white-50">
        </div>

    </div>

</div>