<div class="container centrarItems my-5" style="min-height: 15vh;">

    <div class="row">

        <div class="col-xl-6 col-md-6 col-sm-12 my-3">
            <a class="card bg-dark text-white h-100" [routerLink]="['/qr']">
                <img class="card-img" src="assets/imagenes/qr.jpg" alt="">
                <div class="card-img-overlay centrarItems">
                    <h4 class="card-title text ">Escaneá el QR y descubrí que estás viendo</h4>
                    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
                </div>
            </a>
        </div>

        <div class="col-xl-6 col-md-6 col-sm-12 my-3">
            <a class="card bg-dark text-white h-100" [routerLink]="['/vr']">
                <img class="card-img" style="height: 100%;" src="assets/imagenes/bosque_VR.jpg" alt="">
                <div class="card-img-overlay centrarItems">
                    <h4 class="card-title text ">Hacé una visita virtual del Jardín</h4>
                    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
                </div>
            </a>
        </div>

    </div>

</div>