<app-encabezado-subpaginas titulo="Recorrido Virtual" urlImagen="assets/imagenes/bosque_VR.jpg"></app-encabezado-subpaginas>
<div class="container my-5 centrarItems">
    <!-- <iframe width="853" height="480" src="https://my.matterport.com/show/?m=qLLkBrBRQSW" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe> -->

    <iframe width='853' height='480' src='https://my.matterport.com/show/?m=EXW1MnPoFqE&mls=1' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>

</div>